ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul > li {
    padding: 0;
    margin: 0;
}

#page-top {
    font-size: 1em;
    font-family: "微软雅黑";
}

.page-bar {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 999;
    height: 180px;;
    margin-top: -90px;
}

.page-bar > ul {
    list-style: none;
}

.page-bar a {
    display: block;
    height: 45px;
    width: 80px;
    text-align: right;
    /*border:1px solid red;*/
    line-height: 45px;
    text-decoration: none;
    /*color: #3a260e;*/
    outline: none;
    color: #fff;
    font-size: 1.4em;
    /*font-weight: bold;*/
}

.page-bar a:hover {
    font-size: 1.7em;
}

.page-bar a.current {
    font-size: 1.7em;
}

.page-bar i {

}

#main-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#main-page .pages {
    height: 100%;
    width: 100%;
    position: absolute;
    color: #ffffff;
}

#main-page .pages:nth-child(even) {
    /*background-color: #49cff2;*/
    top: 100vh;
}

#main-page .pages:nth-child(odd) {
    /*background-color: #f23a35;*/
    top: 100vh;
}

#main-page .pages:nth-child(1) {
    z-index: 100;
    top: 0;
}

#main-page #page-1 {
    /*background-color: #c5d9f1;*/
    background-color: #22B573;
}

#main-page #page-1 h1 {
    margin-top: 40px;
    text-shadow: 1px 2px #22B573, 2px 4px #77b598;
}

#main-page #page-1 #resume-icon {
    list-style: none;
    margin: 10% auto 20px auto;;
    /*border: 1px solid gray;*/
    width: 60%;
    padding: 0;
    display: block;
    /*position: relative;*/
    /*top: 20%;*/
}

#page-1 #resume-icon li {
    display: inline-table;
    /*float: left;*/
    /*padding: 20px;;*/
    width: 17.25%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: 7em;
    transition: all 0.4s ease 0s;
}

#page-1 #resume-icon li:hover {
    transform: rotate(360deg);
}

#page-1 #resume-icon li:nth-child(3) {
    transition: none;
}

#page-1 #resume-icon li:nth-child(3):hover {
    transform: none;
}

#page-1 #resume-icon li:nth-child(3) {
    width: 31%;
}

#page-1 #resume-icon li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

#page-1 article {
    width: 60%;
    margin: 40px auto;
    /*border:1px solid white;*/
}

#page-1 article:after {
    content: "";
    display: block;
    width: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

#page-1 article ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    /*border:1px solid red;*/
    float: left;
}

#page-1 article ul > li {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1.6em;
}

#page-1 article i {
    font-style: normal;
    display: inline-block;
    width: 30%;
    height: 30px;;
    line-height: 30px;
    padding-right: 20px;
    margin-right: 20px;;
    text-align: right;
    /*padding: 10px 20px;*/
    background: linear-gradient(to bottom, #ffffff, #d3d3d3, #ffffff) no-repeat right center / 1px 15px;;
}

#page-1 article .introduce {
    float: left;
    /*padding: 20px;*/
    width: 50%;
    font-size: 1.6em;
    text-indent: 2em;
    line-height: 1.5;

}

#page-1 article a {
    color: #ffffff;
}

#page-1 article a:hover {
    /*text-decoration: none;*/
    color: #ffffff;;
}

#page-1 #resume-icon li a:hover {
    text-decoration: none;
    /*font-size: 1.5em;*/
}

#page-1 #resume-icon li > img {
    width: 100%;
    border-radius: 50%;
    min-width: 100px;
    border: 5px solid #6cb596;
}

@media screen and (max-width: 1200px) {
    #page-1 #resume-icon li {
        font-size: 6em;
    }

    #page-1 #resume-icon {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    #page-1 #resume-icon li {
        font-size: 5em;
    }
}

#page-1 #more-info{

    display: none;
}

#main-page #page-2 {
    /*background-color: #8db4e2;*/
    background-color: #1889C5;
}

#main-page #page-2 h1 {
    margin-top: 100px;
    text-shadow: 1px 2px #1889C5, 2px 4px #89aac5;
}

#main-page #page-3 {
    /*background-color: #538dd5;*/
    background-color: #9C58B6;
}

#main-page #page-3 h1 {
    margin-top: 100px;
    text-shadow: 1px 2px #9C58B6, 2px 4px #ae9fb6;
}

#page-3 .experience {
    width: 680px;
    height: 400px;
    margin: 80px auto;
    /*border: 1px solid gray;*/
}

#page-3 .experience:after {
    content: '';
    width: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    display: block;
}

#page-3 .experience .project {
    /*border:1px solid gray;*/
    /*background-color: rosybrown;*/
    width: 280px;
    height: 400px;
    float: left;
}

#page-3 .experience .project   img {
    width: 180px;
    margin: 0 0 30px 50px;
}

#page-3 .experience .project   h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

#page-3 .experience .project   p {
    text-indent: 2em;
    font-size: 1.6em;
    line-height: 1.5;
}

#page-3 .experience .project:nth-child(2) {
    float: right;
}

#main-page #page-4 {
    /*background-color: #1f497d;*/
    background-color: #26B1B6;
}

#main-page #page-4 h1 {
    margin-top: 100px;
    text-shadow: 1px 2px #26B1B6, 2px 4px #76b5b6;
}

#page-4 .time-line {
    position: relative;
    width: 60%;
    height: 400px;;
    margin: 40px auto;;
    /*border: 1px solid gray;*/

}

#page-4 .time-line .dash-line {
    width: 100%;
    height: 0;
    border: 2px dashed white;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

#page-4 .time-line .time-box {
    position: relative;
    /*left: 10%;*/
    margin-left: 8%;
    top: 149px;;
    height: 200px;
    width: 40%;
    /*border: 1px solid red;;*/
    float: left;
}

.time-line .time-box .time {
    font-size: 2em;
    text-indent: 20px;
    margin-bottom: 18px;
}

.time-line .time-box .dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 2px white;;
}

.time-line .time-box h5,
.time-line .time-box h4 {
    padding-left: 20px;
    line-height: 1.5;
}

#main-page #page-5 {
    /*background-color: #16365c;*/

    background-color: #129DE7;
}

#main-page #page-5 h1 {
    margin-top: 100px;
    text-shadow: 1px 2px #129DE7, 2px 4px #97bce7;
}

#main-page #page-5 .college {
    margin: 260px 0 0 0;;
    text-align: center;
    color: #ffffff;
    transition: all 1.5s ease-in 0.18s;
    transform: rotate(-180deg) scale(0.001, 0.001);
    font-size: 5em;
}

#main-page #page-5 h2 {
   font-size:  0.5em

}

#main-page #page-6 {
    /*background-color: #0f243e;*/
    background-color: #ED6461;
}

#main-page #page-6 h1 {
    margin-top: 100px;
    text-shadow: 1px 2px #ED6461, 2px 4px #edbbb3;
}

#page-6 .resume{
    text-align: center;
    margin: 260px auto;;
    font-size: 3.2em;
}

#page-6 .resume >span{
    padding: 10px;
    background:linear-gradient(to bottom ,#ffffff,#ffffff,#ffffff) no-repeat right center / 1px 15px;
}
#page-6 .resume >span:last-child{
    background: none;
}
#main-page h1 {
    text-align: center;
    margin-top: 100px;
    /*text-shadow: 1px 2px #22B573, 2px 4px #77b598;*/
    font-size: 5.5em;
}

.skills {
    position: relative;
    width: 36%;
    height: 65px;;
    /*border: 1px solid gray;*/
    float: left;
    margin: 20px 5.5%;;
}

.skills > div:first-child {
    margin-bottom: 10px;
}

.skills > div:first-child span {
    display: block;
    float: left;
    padding: 0 5px;
    font-size: 2.2em;
}

.skills > div:first-child .content {
    float: right;
}

.skills > div:first-child:after {
    content: '';
    display: block;
    width: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.skills > .skills-percent {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border-radius: 4px;
    /*border: 1px solid red;*/
    overflow: hidden;
    background-color: #f5f5f5;
}

.skills > .skills-percent > .percent {
    background-color: #5cb85c;
    width: 0%;
    height: 100%;
    /*border-radius: 4px;*/
    transition: width 3s ease 0s;
}

#progress {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    z-index: 999;
    height: 2px;
    background: #1889C5;
    -webkit-animation: pulse 1.5s ease-out;
    -o-animation: pulse 1.5s ease-out;
    animation: pulse 1.5s ease-out;
    transition: opacity 500ms linear;
}

#progress span {
    position: absolute;
    height: 2px;
    -webkit-box-shadow: #1889C5 1px 0 2px 1px;
    -moz-box-shadow: #1889C5 1px 0 2px 1px;
    box-shadow: #1889C5 1px 0 2px 1px;
    opacity: 1;
    width: 100px;
    right: 3px;
    -webkit-animation: pulse-span 2s ease-out 0s infinite;
    -o-animation: pulse-span 2s ease-out 0s infinite;
    animation: pulse-span 2s ease-out 0s infinite;
}

#progress.done {
    opacity: 0;
}

@-webkit-keyframes pulse {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes pulse-span {
    30% {
        opacity: .6;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: .6;
    }
}
